<div class="container-admin">
    <h1 style="text-align: center;">{{title}}</h1>
    <div class="row mx-auto ">
        <div class="col-3 "><a routerLink="add">Thêm khóa học</a></div>
        <div class="col-8" style="width: 500px; float: right;">
            <input type="text" placeholder="Search..." [(ngModel)]="searchValue" class="form-control">
        </div>
    </div>
    <hr>
    <table class="table table-border table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngIf="course && course.length">
            <tr *ngFor="let product of course | search: searchValue | paginate:{itemsPerPage:3,currentPage:p}; index as i">
                <td>{{i + 1}}</td>
                <td>{{product.Name}}</td>
                <td>{{product.Price}}</td>
                <td><img src="{{product.Image}}" alt="" width="100" height="100"></td>
                <td><button class="btn btn-outline-danger" (click)="Remove(product._id)">Xoa</button></td>
                <td><button class="btn btn-outline-primary" routerLink="{{product._id}}/edit">Sua</button></td>
            </tr>
        </tbody>
    </table>
    <div class="courses_paginations">
        <ul>
          <li class="active"> <pagination-controls (pageChange)="p = $event"></pagination-controls></li>
        </ul>
      </div>
</div>
