<!DOCTYPE html>
<html lang="en">

<head>
  <title>About us</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Elearn project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="super_container">

    <!-- Header -->

    <header class="header">

      <!-- Top Bar -->
      <div class="top_bar">
        <div class="top_bar_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                  <ul class="top_bar_contact_list">
                    <li>
                      <div class="question">Have any questions?</div>
                    </li>
                    <li>
                      <div>19001668</div>
                    </li>
                    <li>
                      <div>cshk@unica.vn</div>
                    </li>
                  </ul>
                  <div class="top_bar_login ml-auto">
                    <ul>
                      <li><a href="#">Register</a></li>
                      <li><a href="#">Login</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Header Content -->
      <div class="header_container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="header_content d-flex flex-row align-items-center justify-content-start">
                <div class="logo_container">
                  <a href="#">
                    <div class="logo_content d-flex flex-row align-items-end justify-content-start">
                      <div class="logo_img"><img src="../../../../assets/Images/About/logo.png" alt=""></div>
                      <div class="logo_text">learn</div>
                    </div>
                  </a>
                </div>
                <nav class="main_nav_contaner ml-auto">
                  <ul class="main_nav">
                    <li><a href="index.html">home</a></li>
                    <li class="active"><a href="about.html">about us</a></li>
                    <li><a href="courses.html">courses</a></li>
                    <li><a href="news.html">news</a></li>
                    <li><a href="contact.html">contact</a></li>
                  </ul>
                  <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>

                  <!-- Hamburger -->

                  <div class="hamburger menu_mm">
                    <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                  </div>
                </nav>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Header Search Panel -->
      <div class="header_search_container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
                <form action="#" class="header_search_form">
                  <input type="search" class="search_input" placeholder="Search" required="required">
                  <button class="header_search_button d-flex flex-column align-items-center justify-content-center">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Menu -->

    <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
      <div class="menu_close_container">
        <div class="menu_close">
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="search">
        <form action="#" class="header_search_form menu_mm">
          <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
          <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
            <i class="fa fa-search menu_mm" aria-hidden="true"></i>
          </button>
        </form>
      </div>
      <nav class="menu_nav">
        <ul class="menu_mm">
          <li class="menu_mm"><a href="index.html">Home</a></li>
          <li class="menu_mm"><a href="courses.html">Courses</a></li>
          <li class="menu_mm"><a href="instructors.html">Instructors</a></li>
          <li class="menu_mm"><a href="#">Events</a></li>
          <li class="menu_mm"><a href="blog.html">Blog</a></li>
          <li class="menu_mm"><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <div class="menu_extra">
        <div class="menu_phone"><span class="menu_title">phone:</span>(009) 35475 6688933 32</div>
        <div class="menu_social">
          <span class="menu_title">follow us</span>
          <ul>
            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Home -->

    <div class="home">
      <!-- Background image artist https://unsplash.com/@thepootphotographer -->
      <div class="home_background parallax_background parallax-window" data-parallax="scroll"
        data-image-src="images/about.jpg" data-speed="0.8">
        <img src="../../../../assets/Images/About/about.jpg" alt="">
      </div>
      <div class="home_container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="home_content text-center">
                <div class="home_title">About us</div>
                <div class="breadcrumbs">
                  <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>About us</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- About -->

    <div class="about">
      <div class="container">
        <div class="row about_row row-lg-eq-height">
          <div class="col-lg-6">
            <div class="about_content">
              <div class="about_title">Phương pháp phản xạ 2s</div>
              <div class="about_text">
                <p>Nhiều bạn mặc dù đã có vốn từ vựng rất tốt, nhưng vì có một tư duy mòn là nghe câu hỏi =>> dịch sang
                  tiếng Việt =>> trả lời câu hỏi bằng tiếng Việt => dịch sang tiếng Anh => xong mới trả lời bằng tiếng
                  Anh. Do đó mà để trả lời được câu hỏi của người đối diện, bạn phải mất khoảng 3 – 5 phút cho một câu
                  hỏi đơn giản.

                  Nhưng nếu bạn sử dụng phương pháp phản xạ 2s của Aten English nghiên cứu hơn 4 năm qua về tiếng Anh
                  giao tiếp thì chỉ trong vòng 2s bạn đã trả lời lại người bản ngữ một cách rành mạch và tự tin. Thế
                  phương pháp 2S này sẽ như thế nào?
                  Bạn phải lắng nghe câu hỏi và ghi nhớ ngay câu hỏi vào đầu => nói lại câu hỏi dưới câu trả lời =>
                  trong quá trình nói lại đó bạn đã nhớ ra được những ý mình muốn nói tiếp theo..</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about_image"><img src="../../../../assets/Images/About/about_1.jpg"
                alt="https://unsplash.com/@jtylernix"></div>
          </div>
        </div>
        <div class="row about_row row-lg-eq-height">
          <div class="col-lg-6 order-lg-1 order-2">
            <div class="about_image"><img src="../../../../assets/Images/About/course_6.jpg" alt=""></div>
          </div>
          <div class="col-lg-6 order-lg-2 order-1">
            <div class="about_content">
              <div class="about_title">Phương pháp tư duy hình ảnh, âm thanh và vận động</div>
              <div class="about_text">
                <p>Aten muốn bạn nhớ lại về hồi bạn còn đi mẫu giáo, để biết rằng bạn từng học chữ, nhớ mặt chữ, con
                  vật, đồ vật, động từ qua các hình ảnh và âm thanh. Bởi, Aten cũng muốn bạn học tiếng Anh như chính bạn
                  đã học tiếng Việt của mình vậy. Ngày xưa, cô giáo hỏi con gà ở đâu con? thì bạn cũng biết cầm thước
                  chỉ vào con gà. Hay như bạn cầm bộ đồ chơi là những cây kim tiêm, ống nghe để thể hiện mình trong vai
                  trò là một bác sỹ. Ở Aten cũng vậy, mọi thứ luôn động.

                  Do vậy mà giáo trình của Aten cũng được thiết kế bằng tay về hình ảnh bắt mắt, tạo hứng thú học và
                  giúp học viên ghi nhớ từ một cách nhanh chóng nhất. Ngoài ra, mỗi giờ học, Aten đều có những mẫu bài
                  giảng bằng hình ảnh màu, rất đáng yêu được thiết kế bằng tay gửi đến từng bạn học viên. Hay như các
                  bạn nghe một đoạn băng để hình dung rõ ra khung cảnh đang diễn ra câu chuyện để biết họ đang truyền
                  đạt thông tin gì cho nhau và chứa đựng những cảm xúc gì.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Milestones -->

    <div class="milestones">
      <!-- Background image artis https://unsplash.com/@thepootphotographer -->
      <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/milestones.jpg"
        data-speed="0.8">
        <img src="../../../../assets/Images/About/about.jpg" alt="">
      </div>
      <div class="container">
        <div class="row milestones_container">

          <!-- Milestone -->
          <div class="col-lg-3 milestone_col">
            <div class="milestone text-center">
              <div class="milestone_icon"><img src="../../../../assets/Images/About/milestone_1.svg" alt=""></div>
              <div class="milestone_counter" data-end-value="1548">300+</div>
              <div class="milestone_text">Online Courses</div>
            </div>
          </div>

          <!-- Milestone -->
          <div class="col-lg-3 milestone_col">
            <div class="milestone text-center">
              <div class="milestone_icon"><img src="../../../../assets/Images/About/milestone_2.svg" alt=""></div>
              <div class="milestone_counter" data-end-value="7286">100000+</div>
              <div class="milestone_text">Students</div>
            </div>
          </div>

          <!-- Milestone -->
          <div class="col-lg-3 milestone_col">
            <div class="milestone text-center">
              <div class="milestone_icon"><img src="../../../../assets/Images/About/milestone_3.svg" alt=""></div>
              <div class="milestone_counter" data-end-value="257">1000+</div>
              <div class="milestone_text">Teachers</div>
            </div>
          </div>

          <!-- Milestone -->
          <div class="col-lg-3 milestone_col">
            <div class="milestone text-center">
              <div class="milestone_icon"><img src="../../../../assets/Images/About/milestone_4.svg" alt=""></div>
              <div class="milestone_counter" data-end-value="39">100+</div>
              <div class="milestone_text">Countries</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Teachers -->

    <div class="teachers">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="teachers_title text-center">Meet the Teachers</div>
          </div>
        </div>
        <div class="row teachers_row">

          <!-- Teacher -->
          <div class="col-lg-4 col-md-6">
            <div class="teacher">
              <div class="teacher_image"><img src="../../../../assets/Images/About/teacher_1.jpg"
                  alt="https://unsplash.com/@nickkarvounis">
              </div>
              <div class="teacher_body text-center">
                <div class="teacher_title"><a href="#">Jonathan Smith</a></div>
                <div class="teacher_subtitle">Marketing</div>
                <div class="teacher_social">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Teacher -->
          <div class="col-lg-4 col-md-6">
            <div class="teacher">
              <div class="teacher_image"><img src="../../../../assets/Images/About/teacher_2.jpg"
                  alt="https://unsplash.com/@rawpixel"></div>
              <div class="teacher_body text-center">
                <div class="teacher_title"><a href="#">Michelle Williams</a></div>
                <div class="teacher_subtitle">Art & Design</div>
                <div class="teacher_social">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Teacher -->
          <div class="col-lg-4 col-md-6">
            <div class="teacher">
              <div class="teacher_image"><img src="../../../../assets/Images/About/teacher_3.jpg"
                  alt="https://unsplash.com/@taylor_grote"></div>
              <div class="teacher_body text-center">
                <div class="teacher_title"><a href="#">Jack Gallagan</a></div>
                <div class="teacher_subtitle">Marketing</div>
                <div class="teacher_social">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Teacher -->
          <div class="col-lg-4 col-md-6">
            <div class="teacher">
              <div class="teacher_image"><img src="../../../../assets/Images/About/teacher_4.jpg"
                  alt="https://unsplash.com/@benjaminrobyn">
              </div>
              <div class="teacher_body text-center">
                <div class="teacher_title"><a href="#">Christinne Smith</a></div>
                <div class="teacher_subtitle">Marketing</div>
                <div class="teacher_social">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Teacher -->
          <div class="col-lg-4 col-md-6">
            <div class="teacher">
              <div class="teacher_image"><img src="../../../../assets/Images/About/teacher_5.jpg"
                  alt="https://unsplash.com/@christinhumephoto">
              </div>
              <div class="teacher_body text-center">
                <div class="teacher_title"><a href="#">Michelle Williams</a></div>
                <div class="teacher_subtitle">Art & Design</div>
                <div class="teacher_social">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Teacher -->
          <div class="col-lg-4 col-md-6">
            <div class="teacher">
              <div class="teacher_image"><img src="../../../../assets/Images/About/teacher_6.jpg"
                  alt="https://unsplash.com/@rawpixel"></div>
              <div class="teacher_body text-center">
                <div class="teacher_title"><a href="#">Jack Gallagan</a></div>
                <div class="teacher_subtitle">Marketing</div>
                <div class="teacher_social">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col text-center">
            <div class="button teachers_button"><a href="#">see all teachers<div class="button_arrow"><i
                    class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <footer class="footer">
      <div class="container">
        <div class="row">

          <!-- About -->
          <div class="col-lg-3 footer_col">
            <div class="footer_about">
              <div class="logo_container">
                <a href="#">
                  <div class="logo_content d-flex flex-row align-items-end justify-content-start">
                    <div class="logo_img"><img src="images/logo.png" alt=""></div>
                    <div class="logo_text">learn</div>
                  </div>
                </a>
              </div>
              <div class="footer_about_text">
                <p>Maecenas rutrum viverra sapien sed fermentum. Morbi tempor odio eget lacus tempus pulvinar.</p>
              </div>
              <div class="footer_social">
                <ul>
                  <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                </ul>
              </div>

            </div>
          </div>

          <div class="col-lg-3 footer_col">
            <div class="footer_links">
              <div class="footer_title">Quick menu</div>
              <ul class="footer_list">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Facts</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 footer_col">
            <div class="footer_links">
              <div class="footer_title">Useful Links</div>
              <ul class="footer_list">
                <li><a href="courses.html">Courses</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="#">Teachers</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 footer_col">
            <div class="footer_contact">
              <div class="footer_title">Contact Us</div>
              <div class="footer_contact_info">
                <div class="footer_contact_item">
                  <div class="footer_contact_title">Address:</div>
                  <div class="footer_contact_line">150 Cầu Giay</div>
                </div>
                <div class="footer_contact_item">
                  <div class="footer_contact_title">Phone:</div>
                  <div class="footer_contact_line">19001668</div>
                </div>
                <div class="footer_contact_item">
                  <div class="footer_contact_title">Email:</div>
                  <div class="footer_contact_line">cskh@unica.vn</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>