<div class="container">
  <br />
  <h1>{{title}}</h1>
  <br />
  <a routerLink="add">Thêm sản phẩm</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên danh mục</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="categories && categories.length">
      <tr *ngFor="let cate of categories;index as i">
        <td>{{i+1}}</td>
        <td>{{cate.Name}}</td>
        <td>



          <button class="btn btn-primary" (click)="Remove(cate.id)">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
