<div class="superNav border-bottom py-2 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
        <select class="me-3 border-0 bg-light">
          <option value="en-us">EN-US</option>
        </select>
        <span
          class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>info@somedomain.com</strong></span>
        <span class="me-3"><i class="fa-solid fa-phone me-1 text-warning"></i> <strong>1-800-123-1234</strong></span>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">
        <span class="me-3"><i class="fa-solid fa-truck text-muted me-1"></i><a class="text-muted"
            href="#">Shipping</a></span>
        <span class="me-3"><i class="fa-solid fa-file  text-muted me-2"></i><a class="text-muted"
            href="#">Policy</a></span>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-shop me-2"></i> <strong>GEAR SHOP</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
      <div class="input-group">
        <span class="border-warning input-group-text bg-warning text-white"><i
            class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" class="form-control border-warning" style="color:#7a7a7a">
        <button class="btn btn-warning text-white">Search</button>
      </div>
    </div>
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <div class="ms-auto d-none d-lg-block">
        <div class="input-group">
          <span class="border-warning input-group-text bg-warning text-white"><i
              class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" class="form-control border-warning" style="color:#7a7a7a">
          <button class="btn btn-warning text-white">Search</button>
        </div>
      </div>
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-cart-shopping me-1"></i> Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-circle-user me-1"></i> Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <div style="background: url(https://bootstrapious.com/i/snippets/sn-static-header/background.jpg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Bootstrap static header</h1>
        <p class="font-italic mb-0">Using simple jumbotron-style component, create a nice Bootstrap 4 header with a background image.</p>
        <p class="font-italic">Snippe by
            <a href="https://bootstrapious.com" class="text-white">
                <u>Bootstrapious</u>
            </a>
        </p>
        <a href="#" role="button" class="btn btn-primary px-5">See All Features</a>
    </div>
</div> -->

<!-- For Demo Purpose -->
<!-- <div class="container py-5">
    <div class="row">
        <div class="col-lg-3 mb-4">
            <img src="https://topicanative.edu.vn/wp-content/uploads/2020/06/hoc-tieng-anh-online-o-dau-hieu-qua-2.jpg" alt="Image" class="img-fluid rounded">
        </div>
        <div class="col-lg-9">
            <h2 class="h3 font-weight-bold">Welcome to ABC Company - Empowering Your Business Success</h2>
            <div class="row">
                <div class="col-lg-10 mb-4">
                    <p class="font-italic text-muted">Experience the power of effective communication through our English language courses. Discover the joy of expressing yourself fluently, expanding your vocabulary, and building strong language foundations that will open doors to global connections and endless possibilities.</p>
                </div>
                <div class="col-lg-8">
                    <p class="font-italic text-muted">Discover the art of English fluency through our immersive courses. From pronunciation and listening comprehension to cultural insights, our expert instructors will guide you on a transformative language journey that goes beyond words, enabling you to connect with the world and broaden your horizons.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- page-header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-caption">
          <h1 class="page-title">Hike Pageheader</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page-header-->
<!-- news -->
<div class="card-section">
  <div class="container">
    <div class="card-block mb30 des">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <!-- section-title -->
          <div class="section-title mb-0 mota">
            <h2 class="mota">Essential English: Building Strong Language Foundations for Success</h2>
            <p>Conversational English: Engage in Natural and Meaningful Conversations </p>
            <p>English for Academic Excellence: Enhancing Language Skills for Academic Success </p>
          </div>
          <!-- /.section-title -->
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="category col-3">
      <h2 class="categories">Các khóa học</h2>
      <ul class="list-group">
        <li class="list-group-item"><a href="">Khóa học 1</a></li>
        <li class="list-group-item"><a href="">Khóa học 1</a></li>
        <li class="list-group-item"><a href="">Khóa học 1</a></li>

      </ul>
    </div>
    <div class="product col-9">
      <h2></h2>
      <div class="row">
        <div class="col col-md-3">
          <div class="card-sl" *ngFor="let product of course">
            <div class="card-image">
              <img src="{{product.Image}}" />
            </div>

            <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
            <div class="card-heading">
              {{product.Name}}
            </div>
            <div class="card-text">
              {{product.Description}}
            </div>
            <div class="card-text">
              $ {{product.Price}}
            </div>
            <a href="#" class="card-button">Mua khóa học</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>