<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-shop me-2"></i> <strong>MY COURSE</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
      <div class="input-group">
        <span class="border-warning input-group-text bg-warning text-white"><i
            class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" class="form-control border-warning" style="color:#7a7a7a">
        <button class="btn btn-warning text-white">Search</button>
      </div>
    </div>
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <div class="ms-auto d-none d-lg-block">
        <div class="input-group">
          <span class="border-warning input-group-text bg-warning text-white"><i
              class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" class="form-control border-warning" style="color:#7a7a7a">
          <button class="btn btn-warning text-white">Search</button>
        </div>
      </div>
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" routerLink="/course">Courses</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Catalog</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" routerLink="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" routerLink="/cart"><i class="fa-solid fa-cart-shopping me-1"></i>
            Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-circle-user me-1"></i> Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <div style="background: url(https://bootstrapious.com/i/snippets/sn-static-header/background.jpg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Bootstrap static header</h1>
        <p class="font-italic mb-0">Using simple jumbotron-style component, create a nice Bootstrap 4 header with a background image.</p>
        <p class="font-italic">Snippe by
            <a href="https://bootstrapious.com" class="text-white">
                <u>Bootstrapious</u>
            </a>
        </p>
        <a href="#" role="button" class="btn btn-primary px-5">See All Features</a>
    </div>
</div> -->

<!-- For Demo Purpose -->
<!-- <div class="container py-5">
    <div class="row">
        <div class="col-lg-3 mb-4">
            <img src="https://topicanative.edu.vn/wp-content/uploads/2020/06/hoc-tieng-anh-online-o-dau-hieu-qua-2.jpg" alt="Image" class="img-fluid rounded">
        </div>
        <div class="col-lg-9">
            <h2 class="h3 font-weight-bold">Welcome to ABC Company - Empowering Your Business Success</h2>
            <div class="row">
                <div class="col-lg-10 mb-4">
                    <p class="font-italic text-muted">Experience the power of effective communication through our English language courses. Discover the joy of expressing yourself fluently, expanding your vocabulary, and building strong language foundations that will open doors to global connections and endless possibilities.</p>
                </div>
                <div class="col-lg-8">
                    <p class="font-italic text-muted">Discover the art of English fluency through our immersive courses. From pronunciation and listening comprehension to cultural insights, our expert instructors will guide you on a transformative language journey that goes beyond words, enabling you to connect with the world and broaden your horizons.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- page-header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-caption">
          <h1 class="page-title">Học tiếng Anh trực tuyến và nâng cao kỹ năng của bạn</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page-header-->
<!-- news -->
<div class="card-section">
  <div class="container">
    <div class="card-block mb30 des">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <!-- section-title -->
          <div class="section-title mb-0 mota">
            <h2 class="mota">Học tiếng Anh trực tuyến và nâng cao kỹ năng của bạn thông qua các khóa học và tài nguyên chất lượng cao của chúng tôi.</h2>
            <p>Conversational English: Engage in Natural and Meaningful Conversations </p>
            <p>English for Academic Excellence: Enhancing Language Skills for Academic Success </p>
          </div>
          <!-- /.section-title -->
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="category col-3">
      <h2 class="categories">Các khóa học</h2>
      <ul class="list-group" *ngFor="let category of categories">
        <li class="list-group-item"><a href="">{{category.Name}}</a></li>
        <!-- <li class="list-group-item"><a href="">Khóa học 1</a></li>
        <li class="list-group-item"><a href="">Khóa học 1</a></li> -->

      </ul>
    </div>
    <div class="product col-9">
      <h2></h2>
      <div class="row">
        <div class="col col-md-3" *ngFor="let product of course">
          <a class="card-sl" routerLink="course/{{product._id}}" >
            <div class="card-image">
              <img src="{{product.Image}}" />
            </div>

            <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
            <div class="card-heading">
              {{product.Name}}
            </div>
            <div class="card-text">
              {{product.Description}}
            </div>
            <div class="card-text">
              $ {{product.Price}}
            </div>

            <button class="card-button" (click)="addToCart(product)">Mua khóa học</button>
          </div>

            <a href="#" class="card-button">Thêm khóa học</a>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>